.cont{
	background-color: #090914;
}
.square, .board{
	border: solid black 1px;
}

.board{
	background-color: #ffffff;
}

.square > div{
	border: solid gray 1px;
	font-weight: 600;
	font-family: arcon, sans-serif;
	margin: auto;
	overflow: hidden;
	text-align: center;
	font-size: 10vmin;/*remove this*/

}

.cell{
	background-color: #efefef;
}

.cell:hover{
	background-color: #fff;	
}

.fixed, .fixed:hover{
	background-color: #afafaf;
}

.number{
	font-family: arcon, sans-serif;
	text-align: center;
	padding-top: 5%;
}

.placeholder{
	background-color: rgba(48,48,48,.7);
}

.fixed-cont{
	background-color: rgba(220,220,220,.7);
	border-radius: 5%;
}

.header{
	background-color: black; 
	z-index: 1;
	border-bottom: 1px solid #101010;
}

.header > *{
	font-size: 4vh;
	font-family: arcon, sans-serif;
}

.menu{
	background-color: #040409;
	overflow: auto;
}

.header > *{
	color: #efefef;
}

.options{
	
}

.timer, .options{
	width: 7.4em;
}

.count{
	overflow: hidden;
}
@media screen and (max-aspect-ratio: 9/10){
	.number{
		font-size: 15vw;
	}
}

@media screen and (min-aspect-ratio: 9/10){
	.number{
		font-size: 15vh;
	}
}
@media screen and (max-height: 400px){
	.header > * {
		font-size: 5vh;
		padding: 2.5vh;
	}
}